body {
  margin: 0;
  padding: 0;
  background-image: url("/background.jpg");
  height: 100vh;
  width: 100vw;
}

main {
  height: 90vh;
  width: 90vw;
  margin: 5vh 5vw;
  border-radius: 15vh 15vw;
  background-color: #1A1A1A; 
}

section#logo {
  height: 20vh;
  min-height: 150px;
}

section#logo img {
  height: 100%;
  width: auto;
  display: block;
  margin: 0 auto;
}

#outer-box {
  height: 30vh;
  width: 60vw;
  display: block;
  margin: 0 auto;
  border: 2vh solid #950010;
  padding: 2vh 2vw;
}

#inner-box {
  height: 100%;
  width: 100%;
  background-color: #950010;
  text-align: center;
  display: inline-block;
}

#date-paragraph {
  color: #1A1A1A;
  font-family: 'Muli', sans-serif;
  font-weight: 700;
  font-size: 10rem;
  vertical-align: middle;
}
