body {
  margin: 0;
  padding: 0;
  background-image: url("/background-slim.jpg");
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.background {
  height: 100vh;
  width: 100vw;
  position: absolute;
  opacity: 0.5;
  background-color: rgb(149,0,16);
  z-index: -100;
}

main {
  height: 90vh;
  width: 90vw;
  border-radius: 15vh;
  background-color: #1A1A1A;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

section#logo {
  height: 20vh;
  min-height: 100px;
}

section#logo img {
  height: 100%;
  width: auto;
}

section#date-banner {
  transform: rotate(-10deg);
}

#outer-box {
  height: 25vh;
  width: 50vw;
  border: 2vh solid #950010;
  padding: 2vh 2vw;
}

#inner-box {
  height: 100%;
  width: 100%;
  background-color: #950010;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#date-paragraph {
  color: #1A1A1A;
  font-family: 'Muli', sans-serif;
  font-weight: 700;
  font-size: 16vw;
}

section#signup-link {
  font-family: 'Muli', sans-serif;
  font-weight: 700;
}

section#signup-link a, section#signup-link a:visited {
  text-decoration: none;
  color: #950010;
  font-size: 7vw;
}

section#signup-link a:hover {
  text-decoration: underline;
  color: #950010;
  font-size: 7vw;
}

.wiggle:hover {
  animation: wiggle .6s ease;
  animation-iteration-count: 1;
}

@media screen and (min-width: 1200px) {
  #date-paragraph {
    font-size: 10rem;
  }

  section#signup-link a {
    font-size: 4.5rem;
  }

  section#signup-link a:hover {
    font-size: 4.5rem;
  }
}

@keyframes wiggle {
  20%  {
    transform: rotate(-12deg);
  }
  40%  {
    transform: rotate(-8deg);
  }
  60%  {
    transform: rotate(-11deg);
  }
  80%  {
    transform: rotate(-9deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
